.Divider_divider__amOyo {
    background-color: var(--color-section-border)
}

.Divider_divider__amOyo.Divider_horizontal__8tGvV {
    height: .5px
}

.Divider_divider__amOyo.Divider_vertical__y28yz {
    width: .5px
}